* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: poppins,sans-serif;
}

header{
    background-color: #535bf2;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
}

header h1{
    color: antiquewhite;
    font-family: poppins, cursive;
    font-weight: 300;
}

.header-icon{
    margin-left: 40px;
}